<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fest.watchtogether.dao.CategoryDao">
    <resultMap id="baseMap" type="Category">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="last_modify_time" property="lastModifyTime"/>
    </resultMap>
    <insert id="save">
        INSERT INTO tb_category(name, last_modify_time)
        VALUES (#{name}, #{lastModifyTime})
    </insert>
    <delete id="deleteById">
        DELETE
        FROM tb_category
        WHERE id = #{id}
    </delete>
    <select id="getById" resultMap="baseMap">
        SELECT *
        FROM tb_category
        WHERE id = #{id}
    </select>
    <select id="getListByConditions" resultMap="baseMap">
        SELECT * FROM tb_category
        <where>
            <if test="name != null">
                name = #{name}
            </if>
            <if test="lastModifyTime != null">
                AND last_modify_time = #{lastModifyTime}
            </if>
        </where>
        LIMIT #{page},#{pageSize}
    </select>
    <update id="update">
        UPDATE tb_category
        <set>
            <if test="name != null">
                name = #{name}
            </if>
            <if test="lastModifyTime != null">
                last_modify_time = #{lastModifyTime}
            </if>
        </set>
    </update>
</mapper>