<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fest.watchtogether.dao.VideoDao">
    <resultMap id="baseVideoMap" type="Video">
        <id column="id" property="id"/>
        <result column="release_time" property="releaseTime"/>
        <result column="video_pic_url" property="videoPicUrl"/>
        <association
                property="author"
                select="getUserById"
                column="author_id"/>
    </resultMap>
    <select id="getUserById" resultMap="com.fest.watchtogether.dao.UserDao.userMap">
        SELECT id, name, account, admin_role
        FROM tb_user
        WHERE id = #{id}
    </select>
    <insert id="save" parameterType="Video">
        INSERT INTO tb_video(name, description, url, release_time, author_id, poster)
        VALUES (#{name}, #{description}, #{url}, #{releaseTime}, #{author.id}, #{poster})
    </insert>
    <select id="getById" resultMap="baseVideoMap">
        SELECT * FROM tb_video
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="name != null">
                AND name = #{name}
            </if>
        </where>
    </select>
    <select id="getListByConditions" resultMap="baseVideoMap">
        SELECT * FROM test.tb_video
        <where>
            <if test="name != null">
                name LIKE CONCAT("%",CONCAT(#{name},"%"))
            </if>
            <if test="description != null">
                AND description LIKE CONCAT("%",CONCAT(#{description},"%"))
            </if>
            <if test="releaseTime != null">
                AND release_time = #{releaseTime}
            </if>
            <if test="author != null and author.id != null">
                AND author_id = #{author.id}
            </if>
        </where>
        LIMIT #{page},#{pageSize}
    </select>
    <select id="getListByUserId" resultMap="baseVideoMap">
        SELECT *
        FROM test.tb_video
        WHERE author_id = #{id}
    </select>
    <update id="update" parameterType="Video">
        UPDATE tb_video
        <set>
            <if test="name != null">
                name = #{name}
            </if>
            <if test="description != null">
                ,description = #{description}
            </if>
            <if test="url != null">
                ,url = #{url}
            </if>
            <if test="author != null">
                ,author_id = #{author.id}
            </if>
            <if test="releaseTime != null">
                , release_time = #{releaseTime}
            </if>
            <if test="poster != null">
                ,poster = #{poster}
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
    <delete id="deleteById">
        DELETE
        FROM tb_video
        WHERE id = #{id}
    </delete>
</mapper>